apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingress
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://istio-release.storage.googleapis.com/charts
    chart: gateway
    targetRevision: 1.22.0
    helm:
      values: |
        service:
          type: LoadBalancer
          ports:
          - name: status-port
            port: 15021
            protocol: TCP
            targetPort: 15021
          - name: http2      # Must match the default name to OVERWRITE it
            port: 8080       # Your new custom port
            protocol: TCP
            targetPort: 8080
          - name: https      # Must match the default name to OVERWRITE it
            port: 8443       # Your new custom port
            protocol: TCP
            targetPort: 8443
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-ingress
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true